<!-- <ul>
    <li *ngFor="let item of items | async">
        <input type="text" #updatetext [value]="item.text"/>
        <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
        <button (click)="deleteItem(item.$key)">Delete</button>
    </li>
</ul>
<input type="text" #newitem (keyup.enter)="addItem(newitem.value)"/>
<button (click)="addItem(newitem.value); newitem.value=''">Add</button>
<button type="submit" class="btn btn-danger" (click)="deleteEverything()">Delete All</button> -->

<!-- <app-task></app-task> -->
<div class="container">
    <h2 *ngIf="tasksCopy.length > 0">Items</h2>
    <div *ngFor="let task of tasks | async">
        <app-task [task]='task' (onDeleteTask)='deleteTask(task.$key)'></app-task>
    </div>
    <div>
        <button *ngIf="tasksCopy.length > 0" type="button" class="btn btn-danger" (click)="deleteEverything()">
            Delete Entire List
        </button>  
    </div>
    <app-task-form 
    (onEmitTask)='$event.$key ? updateTask($event.$key, $event.description) : pushTask($event.description)'>
    </app-task-form>
</div>